:root {
    --gradients--1: linear-gradient(90deg, #8C73F4 0%, #FEDD63 100%);
    --gradients--2: linear-gradient(170deg, #FFF 9.01%, #0B0C0F 92.62%);
}

[gradient="1"] {
    background-image: var(--gradients--1);
}

[gradient="2"] {
    background-image: var(--gradients--2);
}

/* Make text look crisper and more legible in all browsers */
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

/* Focus state style for keyboard navigation for the focusable elements */
*[tabindex]:focus-visible,
input[type="file"]:focus-visible {
    outline: 0.125rem solid #4d65ff;
    outline-offset: 0.125rem;
}

:is(.contact_form_field, .contact_form_text_field):focus::placeholder {
    opacity: 0;
}

/* Set color style to inherit */
.inherit-color * {
    color: inherit;
}

/* Get rid of top margin on first element in any rich text element */
.w-richtext> :not(div):first-child,
.w-richtext>div:first-child> :first-child {
    margin-top: 0 !important;
}

/* Get rid of bottom margin on last element in any rich text element */
.w-richtext>:last-child,
.w-richtext ol li:last-child,
.w-richtext ul li:last-child {
    margin-bottom: 0 !important;
}

/* Make sure containers never lose their center alignment */
.container-medium,
.container-small,
.container-large {
    margin-right: auto !important;
    margin-left: auto !important;
}

/* 
Make the following elements inherit typography styles from the parent and not have hardcoded values. 
Important: You will not be able to style for example "All Links" in Designer with this CSS applied.
Uncomment this CSS to use it in the project. Leave this message for future hand-off.
*/
/*
a,
.w-input,
.w-select,
.w-tab-link,
.w-nav-link,
.w-dropdown-btn,
.w-dropdown-toggle,
.w-dropdown-link {
color: inherit;
text-decoration: inherit;
font-size: inherit;
}
*/

/* Apply "..." after 3 lines of text */
.text-style-3lines {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* Apply "..." after 2 lines of text */
.text-style-2lines {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* These classes are never overwritten */
.hide {
    display: none !important;
}

@media screen and (max-width: 991px) {

    .hide,
    .hide-tablet {
        display: none !important;
    }
}

@media screen and (max-width: 767px) {
    .hide-mobile-landscape {
        display: none !important;
    }
}

@media screen and (max-width: 479px) {
    .hide-mobile {
        display: none !important;
    }
}

.margin-0 {
    margin: 0rem !important;
}

.padding-0 {
    padding: 0rem !important;
}

.spacing-clean {
    padding: 0rem !important;
    margin: 0rem !important;
}

.margin-top {
    margin-right: 0rem !important;
    margin-bottom: 0rem !important;
    margin-left: 0rem !important;
}

.padding-top {
    padding-right: 0rem !important;
    padding-bottom: 0rem !important;
    padding-left: 0rem !important;
}

.margin-right {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
    margin-left: 0rem !important;
}

.padding-right {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    padding-left: 0rem !important;
}

.margin-bottom {
    margin-top: 0rem !important;
    margin-right: 0rem !important;
    margin-left: 0rem !important;
}

.padding-bottom {
    padding-top: 0rem !important;
    padding-right: 0rem !important;
    padding-left: 0rem !important;
}

.margin-left {
    margin-top: 0rem !important;
    margin-right: 0rem !important;
    margin-bottom: 0rem !important;
}

.padding-left {
    padding-top: 0rem !important;
    padding-right: 0rem !important;
    padding-bottom: 0rem !important;
}

.margin-horizontal {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
}

.padding-horizontal {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}

.margin-vertical {
    margin-right: 0rem !important;
    margin-left: 0rem !important;
}

.padding-vertical {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/*Common Section Style*/
.section_header.is-center {
    text-align: center;
}

.BG-absolute-shape.is-relative {
    position: relative;
}

.BG-absolute-shape.is-relative img {
    width: 100%;
}

/*Desktop navigation style*/
.nav_link:is(:hover, :focus-visible) {
    color: var(--base-color-brand--lavender);
    border-color: var(--base-color-brand--lavender);
}

.nav_dropdown:is(:hover, :focus-visible) .nav_link-icon {
    transform: rotate(180deg);
}

.nav_services_list-item.is-active {
    color: var(--base-color-neutral--black);
}

.nav_service_image,
.nav_services_content-inner {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    /* Prevents content shifting */
}

.nav_service_image.is-active,
.nav_services_content-inner.is-active {
    opacity: 1;
    visibility: visible;
    position: relative;
}

/*Mobile Navigation Style*/
/*.nav_menu-wrapper.is-open {
display: flex;
transform: translateY(0%);
opacity: 1;
visibility: visible;
}*/
.mobile-menu-wrapper.is-open {
    display: block;
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
}

.mobile-menu_list_item:is(:hover, :focus-visible) {
    color: var(--base-color-neutral--black);
    border-color: var(--base-color-brand--lavender);
}

.mobile-menu_list_item:is(:hover, :focus-visible) .mobile-menu_gradient {
    opacity: 1;
}

.mobile-menu_social_link:is(:hover, :focus-visible) {
    color: var(--base-color-neutral--black);
    border-color: var(--base-color-brand--lavender);
}

/* Mobile hamburger menu style */
.nav_menu-bar {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    right: 0;
    width: 100%;
    height: 3px;
    border-radius: 50px;
    background-color: black;
    transition: all 0.3s ease;
}

.nav_menu-bar.cc-top {
    transform: translate(0, -8px);
}

.nav_menu-bar.cc-bottom {
    transform: translate(0, 8px);
}

.nav-open.nav_menu-bar.cc-top {
    transform: translate(0, 0) rotate(45deg);
}

.nav-open.nav_menu-bar.cc-middle {
    opacity: 0;
}

.nav-open.nav_menu-bar.cc-bottom {
    transform: translate(0, 0) rotate(-45deg);
}

/* Copy to text active Styles */
.copy-result.active {
    opacity: 1;
}

.copy-button:is(:hover, :focus-visible) .copy-button-overlay {
    transform: translateY(0%);
}

.copy-button:is(:hover, :focus-visible) .copy-button-icon {
    color: var(--text-color--text-alternate);
}

/* core service links style*/
.core-service_icon::after {
    content: '';
    width: 100%;
    height: 100%;
    background: var(--gradients--1);
    position: absolute;
    inset: 0;
    z-index: -1;
    transform: translateY(100%);
    transition: all 0.25s ease-in;
}

.core-service_link.is-active {
    color: var(--text-color--text-alternate);
}

.core-service_link.is-active .core-service-border {
    transform: scale(1);
}

.core-service_link.is-active .core-service_icon {
    color: var(--base-color-neutral--black);
}

.core-service_link.is-active .core-service_icon::after {
    transform: translateY(0%);
}

.core-service_right_content.is-active {
    opacity: 1;
    visibility: visible;
}

.core-service_link.is-two {
    border-color: var(--base-color-neutral--white-smoke);
}

.core-service_link.is-two .core-service_icon {
    border-color: var(--base-color-neutral--white-smoke);
    color: var(--base-color-neutral--black);
}

.core-service_link.is-two.is-active {
    color: var(--base-color-neutral--black);
}

/*Testimonial item style*/
.testimonail_item:is(:hover, :focus-visible) {
    background-color: var(--base-color-neutral--neutral-darker);
    border-color: var(--base-color-neutral--neutral-darker);
}

.testimonail_item:is(:hover, :focus-visible) .testimonail_icon,
.testimonail_item:is(:hover, :focus-visible) .testimonail_text {
    color: var(--text-color--text-alternate);
}

.testimonail_item.is-two {
    background-color: var(--text-color--text-alternate);
    border-color: var(--base-color-neutral--gray);
}

.testimonail_item.is-two .testimonail_icon {
    color: var(--base-color-neutral--gray);
}

.testimonail_item.is-two .testimonail_text {
    color: var(--base-color-neutral--gray-3);
}

.testimonail_item.is-two .testimonail_author_designation {
    color: var(--base-color-neutral--gray-3);
}

.testimonail_item.is-two .testimonail_author_name {
    color: var(--base-color-neutral--black);
}

.testimonail_item.is-two .testimonail_author {
    border-color: var(--base-color-neutral--gray);
}

.testimonail_item.is-two:is(:hover, :focus-visible) {
    background-color: var(--text-color--text-alternate);
    border-color: var(--text-color--text-alternate);
    box-shadow: 67px 61px 156px 0px rgba(34, 40, 52, 0.06);
}

.testimonail_item.is-two:is(:hover, :focus-visible) .testimonail_icon {
    color: var(--base-color-neutral--gray-3);
}

.testimonail_item.is-two:is(:hover, :focus-visible) .testimonail_text {
    color: var(--base-color-neutral--black);
}

/*Client Logos*/
.client-logos_component::-webkit-scrollbar {
    display: none;
}

/*Experiance card style*/
.experiance_card:is(:hover) {
    border-color: var(--base-color-brand--lavender);
}

/*Core value card style*/
.core-value_card:is(:hover),
.design-process_item:is(:hover) {
    background-color: var(--text-color--text-alternate);
    border-color: var(--text-color--text-alternate);
    box-shadow: 67px 61px 156px 0px rgba(34, 40, 52, 0.06);
}

.core-value_card.is-center:is(:hover) {
    border-color: var(--base-color-brand--lavender);
}

.core-value_card.is-dark .core-value_card_title {
    color: var(--text-color--text-alternate);
}

.core-value_card.is-dark .core-value_card_text {
    color: var(--base-color-neutral--gray-2);
}

.core-value_card.is-dark:is(:hover) {
    background-color: var(--base-color-neutral--neutral-darker);
    border-color: var(--base-color-neutral--neutral-darker);
}

/*Process Item Style*/
.process_item+.process_item {
    margin-top: clamp(2rem, .5639vw + 1.8678rem, 2.375rem);
}

.process_item:is(:hover) .process_item_content {
    color: var(--text-color--text-alternate);
}

.process_item:is(:hover) .process-item-border {
    transform: scale(1);
}

.process_item:is(:hover) .core-service-border {
    transform: scale(1);
}

.process_item:is(:hover) .process_item_button {
    display: block;
    opacity: 1;
    visibility: visible;
}

.process_item:is(:hover) .process_item_icon {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.article_figure img,
.team-member_figure img,
.project_figure img,
.other-service_figure img {
    transition: transform 0.35s;
}

.article_figure:hover img,
.team-member_figure:hover img,
.project_figure:hover img,
.other-service_figure:hover img {
    transform: scale(1.1);
}

/* Section FAQ Styles */
.faq-card.active .faq-card_pluse_vertical {
    transform: rotate(900deg);
}

.path {
    stroke-dasharray: 1000;
    animation: dash 20s linear infinite;
}

/*excellence_item Style*/
.excellence_item+.excellence_item {
    margin-top: clamp(1.5rem, .7519vw + 1.3238rem, 2rem);
}

.excellence_item:is(:hover) {
    color: var(--text-color--text-alternate);
}

.excellence_item:is(:hover) .process-item-border {
    transform: scale(1);
}

.excellence_item:is(:hover) .gradient_icon-gradient {
    transform: translateY(0%);
}

.integration-badge:is(:hover) {
    border-color: var(--base-color-brand--lavender);
}

.button.is-secondary:is(:hover, :focus-visible) {
    color: var(--text-color--text-alternate);
}

.button.is-secondary:is(:hover, :focus-visible) .button-hover-bg-two {
    transform: translateY(0%);
}

.project_figure:is(:hover)~.project_content .button.is-secondary {
    color: var(--text-color--text-alternate);
}

.project_figure:is(:hover)~.project_content .button.is-secondary .button-hover-bg-two {
    transform: translateY(0%);
}

.other-service_figure:is(:hover)~div .button.is-secondary .button-hover-bg-two {
    transform: translateY(0%);
}

.other-service_figure:is(:hover)~div .button.is-secondary {
    color: var(--text-color--text-alternate);
}

.contact_form_check:is(:hover, :focus-visible) {
    border-color: var(--base-color-brand--lavender);
}

.border-booker {
    width: 100% !important;
}

.testimonail_item.is-dark .testimonail_text,
.testimonail_item.is-dark .testimonail_author_designation {
    color: var(--base-color-neutral--gray-3);
}

/*------------CSS Keyframes------------------------*/
@keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

.home-header_lightbox:not(:hover, :focus-visible) .home-header_lightbox_button {
    transform: scale(0);
}

.nav_wrapper.scrolled {
    box-shadow: 0 1px 1px 0 rgba(34, 40, 52, 0.07), 67px 61px 156px 0 rgba(34, 40, 52, 0.16);
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav_component.nav-hidden {
    transform: translateY(-200%);
}

.testimonial-card:is(:hover) .testimonial_card-content {
    grid-template-columns: 1fr;
}